/*-----------Home-page - Section de recherche selon le lieu---------------*/
.form {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;
	background-color: $gray-dark;
	font-size: 1.2rem;
	padding-top: 1em;
	padding-bottom: 1em;

	.form__input {
		font-size: 20px;
		border: none;
		color: black;
		background-color: $gray-dark;
		text-align: center;
		border-radius: 4px;
	}

	.form__input:focus,
	.form__input:active {
		outline: none;
		border: 1px solid $sec-clr;
		background-color: rgb(255 121 218 / 5%);
	}
}
