.header {
	height: 63px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 2px 8px #00000038;
	position: relative;

	& .header__logo {
		max-width: 164px;
		display: revert;
		font-family: 'Shrikhand', cursive;
		margin: auto;
	}

	& .container {
		height: 63px;
		display: flex;
		align-items: center;
		width: 100%;
	}
}
