@keyframes entry-menu-card {
	0% {
		opacity: 0;
		transform: translateY(15px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes bar {
	0% {
		transform: scalex(1);
		opacity: 0.9;
	}

	50% {
		transform: scalex(1.2);
		background: $clr-grad;
	}

	100% {
		transform: scalex(0);
	}
}

@keyframes load {
	to {
		transform: scaleY(0);
	}
}
