.home-card {
	@include heart;

	.heart__ico {
		right: 5%;
		bottom: 8%;

		&--color {
			right: 5%;
			bottom: 8%;
		}
	}
}

.layout-menu__title {
	@include heart;

	.heart__ico {
		right: 0px;
		bottom: 35%;

		&--color {
			right: 0%;
			bottom: 35%;
		}
	}
}
