@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Shrikhand&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

img {
	max-width: 100%;
}

.container {
	padding-left: 19px;
	padding-right: 19px;
}
